body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202220;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header > a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 25px;
  display: inline-block;
  margin-top: 25px;
}

a {
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.homeJustify {
  text-align: justify;
  font-size: 18px;
}

.homeJustify > h1,
.homeJustify > h2 {
  text-align: center;
}

.imgHome {
  display: block;
  margin: 0 auto;
}

.font-size-25 {
  font-size: 25px;
}

.timeSelector {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.timeSelector > select {
  width: 28%;
  height: 40px;
  padding: 6px;
  border-radius: 10px;
  border-color: #fff;
  background: none;
  color: #fff;
  font-size: 20px;
  background-color: #202220;
  outline: none;
}

.selector {
  margin-right: 2%;
}

.calculateDiv {
  text-align: center;
  margin-top: 30px;
}

.calculateDiv > button {
  width: 200px;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #fff;
  display: inline-flex;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

.backButton {
  width: 200px;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-style: none;
  background-color: #fff;
  display: inline-flex;
  padding: 8px;
  cursor: pointer;
  outline: none;
}

.calculateDiv > button > span,
.backButton > span {
  margin-top: 7px;
  margin-left: 25px;
}

.results {
  margin-bottom: 30px;
}

.resultsDiv > span,
.resultsWakeUpDiv > span {
  padding: 20px;
  font-style: italic;
  font-size: 23px;
  font-weight: bold;
}

.footer {
  height: 50px;
}

@media (max-width: 675px) {
  .resultsDiv {
    display: grid;
  }
  .resultsDiv > span {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .timeSelector {
    display: grid;
  }
  .selector {
    margin: 0px;
  }
  .timeSelector > select {
    width: 70%;
    margin: 5px auto;
  }
  .imgHome {
    width: 100%;
  }
}

@media (max-width: 985px) {
  .resultsWakeUpDiv {
    display: grid;
  }
  .resultsWakeUpDiv > span {
    padding: 10px;
  }
}
